menuconfig ARCH_HPE
	bool "HPE SoC support"
	help
	  This enables support for HPE ARM based SoC chips
if ARCH_HPE

config ARCH_HPE_GXP
	bool "HPE GXP SoC"
	select ARM_VIC
	select PINCTRL
	select IRQ_DOMAIN
	select GENERIC_IRQ_CHIP
	select MULTI_IRQ_HANDLER
	select SPARSE_IRQ
	select CLKSRC_MMIO
	depends on ARCH_MULTI_V7
	help
	  Support for GXP SoCs

config ARCH_HPE_GXP_GEN10
	bool "HPE GXP SoC generation 10"
	depends on ARCH_HPE_GXP
	help
	  Support for GXP SoCs of 10th generation

config ARCH_HPE_GXP_GEN11
	bool "HPE GXP SoC generation 11"
	depends on ARCH_HPE_GXP
	help
	  Support for GXP SoCs of 11th generation

endif
